<section class="account container">
    <div class="row">
        <div class="col-md-6" id="account">
            <div class="info ">
                <span><i class="fas fa-user-circle fa-7x"></i></span>
            </div>
            <ul class="list-unstyled ">
               <li><i class="fas fa-check"></i> Store your information to speed up future rentals.</li> 
               <li><i class="fas fa-check"></i> We will never sell or share your information.     </li>
               <li><i class="fas fa-check"></i> Skip the line with faster checkout                </li>
            </ul>
            <div >
                <img src="/img/Wienermobile.jpg"> 
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <h2>Member Form</h2>
            <form  >
                <div class="form-group">
                    <input type="text" id ="firstName" name="firstName" class="form-control" placeholder="Enter  Name" required>
                </div>
                <div class="form-group">
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter Last Name" required>
                </div>
                <legend>User Credentials</legend>
                <hr class="bg-info">
                <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter E-mail" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
                </div>
                <hr class="bg-info">
                <div class="form-group">
                    <input type="tel"  id="phone" name="phone" class="form-control" placeholder="Enter phone number" required>
                </div>
                <div class="form-group">
                    <input type="text" id ="driversLicenseNo" name="driversLicenseNo" class="form-control" placeholder="Driver License Number" required>
                </div>
                <div class="form-group">
                    <input type="select" id="driversLicenseState" name="driversLicenseState" class="form-control" placeholder="Driver License State" required>
                </div>
                <div class="form-group">
                <button id="submit" class="btn btn-success btn-block ">
                        JOIN US
                </button>
                </div>
            </form>
        </div>
    </div>
</section>
