.jumbotron{
  opacity: 1;
  background-image: url(../img/banner.jpg);
  height: 700px;
  background-size: cover;
  
}

.title{
color: #FFFFFF;
font-size: 200px;
color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
font-family: 'Faster One', cursive;
opacity: 1;
}

.card-img-top{
  border: black;
  border-width: 5px;
}
.card{
  float: left;
  margin-top: 30px;
}

.card-img-top{
  max-height: 160px;
  max-width: 286px;
}
.card-title{
  max-width: 246px;
  max-height: 24px;
}
section{
    margin : 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    text-align: center;
}

#account{
 background-color: #f8993b;
 opacity: 0.9;
  
}
.info, form,h2{
  margin-top: 20px;
  margin-bottom: 15px;
}

                 